# 1. ROS 2 빌드 찌꺼기 및 로그
build/
install/
log/
*.log

# 2. 파이썬 캐시 및 가상환경
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv
env/
.env

# 3. IDE (에디터) 설정 파일
.vscode/
.idea/

# 4. OS 시스템 자동 생성 파일
.DS_Store
Thumbs.db

# 5. PX4 관련 폴더 (혹시 모를 중복 다운로드 방지)
PX4-Autopilot/