# 1. ROS 2 빌드 찌꺼기 (가장 중요!)
# 호스트(본체)로 새어나올 수 있는 빌드 파일들 차단
build/
install/
log/

# 2. 파이썬 캐시 파일
# 파이썬이 실행되면서 몰래 만드는 임시 파일들 차단
__pycache__/
*.py[cod]
*$py.class
*.so

# 3. 가상환경 및 환경변수
# 혹시 모를 로컬 가상환경이나 비밀번호가 담길 수 있는 파일
venv/
env/
.env

# 4. VS Code 설정 파일
# 내 컴퓨터의 에디터 개인 설정이 남의 컴퓨터에 덮어씌워지는 것 방지
.vscode/

# 5. OS 시스템 자동 생성 파일
.DS_Store
Thumbs.db